@model Confortex.Models.DescripcionHechura

<div class="modal fade right" id="modalhechuracreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-animation="false">
    <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header light-green  white-text">
                <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close" data-animation="false" data-tooltip="tooltip" data.placement="right" title="Cerrar esta ventana">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="title"><i class="fa fa-asl-interpreting "></i> {{gestion}} Hechura</h4>
            </div>
            <!--Body-->
            <div class="modal-body mb-0">

                <div class="form-horizontal">

                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <h5 class="font-weight-bold col-12">Información general</h5><br />
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">

                                        @Html.LabelFor(model => model.Pieza.Nombre, "Pieza:", htmlAttributes: new { @class = "control-label col-4" })
                                        @Html.DropDownList("IdPieza", null, htmlAttributes: new { @class = "mdb-select col-7", data_tooltip = "tooltip", data_placement = "top", title = "seleccione una pieza a agregar", data_animation = "false", style = "display:initial", ng_model = "pieza" })
                                  

                                  
                                        @Html.LabelFor(model => model.Descripcion, "Tela:", htmlAttributes: new { @class = "control-label col-4 " })
                                        @Html.DropDownList("IdTela", null, htmlAttributes: new { @class = "mdb-select col-7", data_tooltip = "tooltip", data_placement = "top", title = "seleccione la tela de la pieza", data_animation = "false", style = "display:initial", ng_model = "tela" })


                                 
                                   
                                        @Html.LabelFor(model => model.CantidadRequerida, "Cantidad de piezas", htmlAttributes: new { @class = "control-label col-5 " })
                                        @Html.EditorFor(model => model.CantidadRequerida, new { htmlAttributes = new { type = "text", @class = "col-4", data_tooltip = "tooltip", data_placement = "right", title = "Escriba la cantidad de piezas", data_animation = "false", ng_model = "cantidadpieza", mask = "9?9?9?9?9?" } })
                                        @Html.LabelFor(model => model.Duracion, "Duración (Días)", htmlAttributes: new { @class = "control-label col-5 " })
                                        @Html.EditorFor(model => model.Duracion, new { htmlAttributes = new { type = "text", @class = "col-4", data_tooltip = "tooltip", data_placement = "right", title = "Escriba la dias que tomara en realizar la pieza", data_animation = "false", ng_model = "duracion" } })
                                        @Html.LabelFor(model => model.Descripcion, "Descripción de la hechura:", htmlAttributes: new { @class = "control-label col-10 " })
                                        @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { type = "text", @class = "col-10", data_tooltip = "tooltip", data_placement = "right", title = "Escriba la descripción de la hechura", data_animation = "false", ng_model = "descripcion", ng_keyup = "" } })

                                    </div>
                                    
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <div class="form-group">
                                        <h6 class="font-weight-bold col-12">Agregar color(es) a la pieza</h6>
                                         @Html.LabelFor(model => model.Cotizacion, "Color:", htmlAttributes: new { @class = "control-label col-2 " })
                                        @Html.DropDownList("IdColor", null, htmlAttributes: new { @class = "mdb-select col-5", data_tooltip = "tooltip", data_placement = "top", title = "seleccione el color de la tela", data_animation = "false", style = "display:initial", ng_model = "color" })
                                        <a class="btn-floating btn-lg green darken-4 " ng-click="agregartab3()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                        <a class="btn-floating btn-lg red darken-4" ng-click="eliminartab3()"><i class="fa fa-minus" aria-hidden="true"></i></a>
                                    </div>
                                    <div class="table-responsive ">
                                        <table class="table table-hover  table-bordered table-striped" id="table7">
                                            <thead class="light-green  white-text">
                                                <tr>
                                                    <th>
                                                        iddes
                                                    </th>
                                                    <th>
                                                        id
                                                    </th>
                                                    <th>
                                                        Color
                                                    </th>

                                                </tr>
                                            </thead>


                                        </table>

                                    </div>
                                    
                                   
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                       
                                    </div>
                                </div>
                            </div>

                        </div>
                        <hr />

                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <br />  <h5 class="font-weight-bold">Agregar combinaciones a la pieza</h5><br />
                                        @Html.LabelFor(model => model.Cotizacion, "Combinación:", htmlAttributes: new { @class = "control-label col-4 " })
                                        @Html.DropDownList("IdCombinacion", null, htmlAttributes: new { @class = "mdb-select col-7", data_tooltip = "tooltip", data_placement = "top", title = "seleccione una combinacion", data_animation = "false", style = "display:initial", ng_model = "combinacion" })
                                        <div class="col-6"></div>
                                        <a class="btn-floating btn-lg green darken-4 " ng-click="agregartab1()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                        <a class="btn-floating btn-lg red darken-4" ng-click="eliminartab1()"><i class="fa fa-minus" aria-hidden="true"></i></a>

                                        <div class="table-responsive ">
                                            <table class="table table-hover  table-bordered table-striped" id="table4">
                                                <thead class="light-green  white-text">
                                                    <tr>
                                                        <th>
                                                            iddes
                                                        </th>
                                                        <th>
                                                            idcombinacion
                                                        </th>
                                                        <th>
                                                            Combinaciones
                                                        </th>

                                                    </tr>
                                                </thead>


                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <br /><h5 class="font-weight-bold">Agregar accesorios a la pieza</h5><br />
                                        @*  @Html.LabelFor(model => model.Color.Nombre, "Material Indirecto:", htmlAttributes: new { @class = "control-label col-4 " })*@
                                        @Html.DropDownList("IdMaterial", null, htmlAttributes: new { @class = "mdb-select col-6", data_tooltip = "tooltip", data_placement = "top", title = "seleccione el color de la tela", data_animation = "false", style = "display:initial", ng_model = "material" })
                                        <label class="col-4">Cantidad de Material</label>
                                        @Html.EditorFor(model => model.CantidadRequerida, new { type = "text", htmlAttributes = new { type="text", @class = "col-6", data_tooltip = "tooltip", data_placement = "right", title = "Escriba la cantidad de material indirecto", data_animation = "false", ng_model = "cantidadaccesorio", mask = "9?9?9?9?9?" } })



                                        <a class="btn-floating btn-lg green darken-4" ng-click="agregartab2()"><i class="fa fa-plus" aria-hidden="true"></i></a>
                                        <a class="btn-floating btn-lg red darken-4" ng-click="eliminartab2()"><i class="fa fa-minus" aria-hidden="true"></i></a>

                                        <div class="table-responsive ">
                                            <table class="table table-hover  table-bordered table-striped" id="table5">
                                                <thead class="light-green  white-text">
                                                    <tr>

                                                        <th>
                                                            iddes
                                                        </th>
                                                        <th>
                                                            idacce
                                                        </th>
                                                        <th>
                                                            Accesorios
                                                        </th>
                                                        <th>
                                                            Cantidad
                                                        </th>


                                                    </tr>
                                                </thead>


                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <p class="red-text">{{messageCant}}</p><br />
                                <div class="form-group font-weight-bold text-center">
                                    <div class="text-center">
                                        <input type="submit" value="Guardar" class="btn btn-sm light-green darken-4" ng-click="gestionar()" />
                                    </div>
                                    <p class="red-text">{{message}}</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
